<div class="preloader" id="preloader">
    <div class="preloader">
        <div class="waviy position-relative">
            <span class="d-inline-block">N</span>
            <span class="d-inline-block">E</span>
            <span class="d-inline-block">W</span>
            <span class="d-inline-block">S</span>
            <span class="d-inline-block">B</span>
            <span class="d-inline-block">Y</span>
            <span class="d-inline-block">T</span>
            <span class="d-inline-block">E</span>
        </div>
    </div>
</div>